[submodule "vendor/plugins/redmine_join_project"]
	path = vendor/plugins/redmine_join_project
	url = git://github.com/Jehreg/redmine_join_project.git
[submodule "vendor/plugins/redmine_clf2"]
	path = vendor/plugins/redmine_clf2
	url = git://github.com/Jehreg/redmine-clf2.git
[submodule "vendor/plugins/timesheet_plugin"]
	path = vendor/plugins/timesheet_plugin
	url = git://github.com/asoltys/redmine-timesheet-plugin.git
[submodule "vendor/plugins/redmine_rate"]
	path = vendor/plugins/redmine_rate
	url = git://github.com/edavis10/redmine_rate.git
[submodule "vendor/plugins/budget_plugin"]
	path = vendor/plugins/budget_plugin
	url = git://github.com/asoltys/redmine-budget-plugin.git
